<div th:fragment="footer">
    <footer class="text-body-secondary py-5">
        <div class="container">
            <p class="float-end mb-1">
                <a href="#">Вверх</a>
            </p>
            <p class="mb-1">Добро пожаловать на наш блог! 🚀 Мы создали этот проект, чтобы делиться полезной информацией, вдохновлять и помогать людям находить ответы на свои вопросы. Здесь ты найдешь статьи на самые разные темы: от технологий и программирования до личного развития и творчества.</p>
        </div>
    </footer>
</div>